<nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/test">Test</a></li>
    <li><a href="/api/status">API Status</a></li>
  </ul>
</nav>

<div class="container">
  <h1>Welcome to Ruby Web App - <b> Bunnyshell Remote Development </b></h1>
  <p>This is a simple web application built with Sinatra.</p> test
  <p>Edit this file and refresh to see your changes!</p> 
</div> 